@keyframes slideInLeft {
  0% {
    transform: translate(-10rem);
    opacity: 0%;
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate(10rem);
    opacity: 0%;
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    transform: translate(0px);
    opacity: 100%;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
